body {
    background-color: #ededed;
}

/* awful but it makes the progress bar more visually centered */
.progress {
    margin-top: 15px;
}

.heading {
    width: 100%;
    background: url("../img/header_repeat_x.png") repeat-x;
    height: 159px;
    box-shadow: 0px 2px 10px 0px rgba(10, 10, 10, 0.33);
}

.container {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.uc-container {
    width: 95%;
    min-height: 50px;
    border: solid 1px;
    margin: 20px auto 0;
    background-color: #fff;
}

.uc-container .uc-heading {
    width: 100%;
    background: url("../img/cat_back.gif") repeat-x;
    height: 27px;
    /* COPIED STRAIGHT FROM UC KEK WAT U GONNA DO BOUT IT */
    font: bold 11pt verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
    padding-left: 5px;
    padding-top: 3px;
}

.uc-container .inner {
    padding: 5px;
}

.invisible {
    display: none !important;
}

/* adam: override the default and remove the transitions because they screw with jquery.animate */
.progress .determinate {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

/* geert: make text in buttons not selectable */
.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.last-action-button {
    margin-bottom: 50px;
}