.invisible {
    display: none !important;
}

/* adam: override the default and remove the transitions because they screw with jquery.animate */
.progress .determinate {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

/* geert: make text in buttons not selectable */
.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}